* {
    margin: 0;
    padding: 0;
    font-family:cursive;

}
a {
    text-decoration: none;
}

section {
    font-weight:bold;
    background-color: mistyrose;
    width: 400px;
    text-align: center;
    justify-items: center;
    margin: auto;
}

